{% extends 'base.html' %}
{% load static %}

{% block navbar %}
{% include 'components/navbar.html' %}
{% endblock navbar %}

{% block left_sidebar %}
{% include 'components/sidebars/left/sidebar.html' %}
{% endblock left_sidebar %}

{% block content %}

<p class="dark:text-red-600">tesssssssssssssssssssssssssssssssss</p>
{% endblock content %}

{% block right_sidebar %}
gdfgfdgdfg
{% endblock right_sidebar %}   

{% block footer %}
{% endblock footer %}

{% block javascript %}
{% endblock javascript %}